header {
    background-color: #3f51b5;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-input {
    flex: 1;
    padding: 10px 10px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
}

.search-icon-button {
    background-color: transparent;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-icon {
    color: #6b6969;
    font-size: 24px;
    transition: color 0.3s ease;
}

.search-icon-button:hover .search-icon {
    color: #333;
}

.search-input::placeholder {
    color: #aaa;
}

.search-icon {
    padding-left: 15px;
}